img.emoji {
    width: 1em;
    pointer-events: none;
    display: inline-block;
}

.snowflake {
    position: fixed;
    top: -1px;
    width: 5px;
    height: 5px;
    background: rgb(134, 117, 117);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    opacity: 0.99;
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

.music-button {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10000;
}

.music-button i {
    color: white;
    font-size: 24px;
}

/* Effet de flou sur toute la page */
.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style du bouton "Enter" */
.enter-button {
    padding: 15px 30px;
    font-size: 24px;
    color: white;
    background-color: #464e57;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.enter-button:hover {
    background-color: #b4c2d1;
}